/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

/* Header Styles */
header {
    background-color: #e0e0e0; 
    padding: 20px 0; 
    text-align: center;
}

.banner-img {
    width: 100%; 
    max-width: 150px; 
    height: auto;
    margin-bottom: 15px;
}

header h1 {
    font-family: 'Merriweather', serif;
    color: #333;
    font-size: 2.5rem; 
}

header p {
    font-family: 'Lora', serif;
    color: #666;
    font-size: 1.25rem; 
}

/* Sidebar Styles */
.sidebar-nav {
    background-color: #fafafa;
    border-right: 1px solid #ddd; 
    height: 100vh;
    padding: 15px;
}

.sidebar-nav ul {
    list-style: none;
    padding-left: 0;
}

.sidebar-nav ul li {
    margin-bottom: 15px;
}

.sidebar-nav ul li a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
}

.sidebar-nav ul li a:hover,
.sidebar-nav ul li a.active {
    text-decoration: underline;
    color: #000;
}


main {
    padding: 20px;
}
